* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
}


ul#menu-haut {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding-right: 30px;
}

#menu-haut li {
    display: inline-block;
    margin: auto 6px;
    padding: 10px 0;
    color: #222;
    ;
}

#menu-haut li a {
    display: inline-block;
    font: arial 400 #222;
    text-decoration: none;
    color: #5F6368;
}

#menu-haut li a#connexion {
    color: white;
    background: #4285f4;
    font-weight: bold;
    border-radius: 2px;
    line-height: 28px;
    padding: 0 12px;
    text-decoration: none;
    font-size: 13px;
}

/*main*/

.main {
    margin: 100px auto 10px;
    width: 250px;
    cursor: pointer;
}

#imageGoogle {
    float: center;
    display: flex;
    justify-content: center;
}

#image-share {
    height: 22px;
    align-self: flex-end;
    float: right;
}

#icon-carres {
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    width: 30px;
    height: 30px;
    opacity: 0.55;
    background-position: -132px -38px;
}

#icon-carres:hover {
    opacity: 1;
}


#form {
    margin: 30px 0 20px 0;
    display: flex;
    justify-content: center;
}

#recherche {

    border: 1px solid rgb(219, 219, 219);
    border-radius: 90px;
    width: 600px;
    height: 45px;
    display: flex;
    justify-content: space-between;
}


#recherche:hover {
    box-shadow: 2px 2px 2px 2px #fafafa;

}

.fas {
    margin: 15px;
    color: rgb(190, 190, 190);
}

#google-search {
    width: 90%;
    cursor: text;
    border: none;
    outline: none;
}

#micro {
    width: 15px;
    height: 20px;
    margin: 12px 30px;
    cursor: pointer;
}

#boutons {
    display: flex;
    justify-content: center;

}

#bouton-recherche,
#bouton-chance {
    margin: 0 8px;
    background-color: #f5f5f5;
    border: 1px solid #fff;
    padding: 10px 15px;
    border-radius: 2px;
}

#bouton-recherche:hover,
#bouton-chance:hover {
    border: 1px solid #ccc;
    cursor: pointer;

}

footer {
    position: absolute;
    bottom: 0px;
    background-color: #f2f2f2;
    width: 100%;
}

#footer-haut {
    padding: 15px 45px;
}

#trait {
    width: 100%;
    height: 2px;
    border: none;
    background-color: #ececec;
}

#footer-bas {
    display: flex;
    justify-content: space-between;
}

ul#gauche,
ul#droite {
    padding: 15px 30px;
    list-style: none;
}

ul#gauche li,
ul#droite li {
    padding: 0px 15px;
    display: inline-block;

}

ul#gauche li a,
ul#droite li a {
    text-decoration: none;
    color: #5F6368;

}

ul#gauche li a:hover,
ul#droite li a:hover {
    text-decoration: underline;

}